.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fda;
}

.wrap .content {
    width: 700px;
    height: 500px;
    /* background-color: #fda; */
}

.wrap .content .top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.wrap .content .top .left {
    height: 50px;
    display: flex;
    align-items: center;
}

.wrap .content .top .right {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(236, 236, 236);
}

.wrap .content .center {
    width: 100%;
    margin-top: 20px;
    height: 430px;
    border: 1px solid rgb(236, 236, 236);
}